<html>
<head>
    <title>Управление пользователями<title>
    <%= stylesheet_link_tag "ftp" %>
    <%= javascript_include_tag :defaults %>
</head>
<body id="store">

    <div id="columns">
        <div id="side">
            <ul>
                <li><%= link_to 'Список юзверей', :action => 'index' %></li>
                <li><%= link_to 'Добавить юзверя', :action => 'add' %></li>
            </ul>
        </div>
        <div id="main">
        <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
            <%= @content_for_layout %>
        </div>
    </div>

</body>
</html>